<div class="container ">
    <h1>Contact us</h1>

    <form id="homeProfileForm" [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="myClass">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput formControlName="message"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary">Send request</button>
        </div>
    </form>
</div>